<footer class="page-footer blue-grey darken 1">
  <div class="row">
    <div class="center-align col l4 s12">
      <h5 class="white-text">A propos</h5>
      <p class="grey-text text-lighten-4">Nous sommes une association d'étudiants créée dans le but d'organiser un hackersapce à l'école Polytech Montpellier pour partager notre expérience des TIC.</p>
      <p class="grey-text text-lighten-4">L'objectif principal est de créer une communauté dans laquelle experts et novices pourront se rencontrer.</p>
      <a href="/about" class="red-text text-lighten-1">En savoir plus...</a>
    </div>
    <div class="left-align col l4 offset-l1 s12">
      <h5 class="white-text">Réseaux sociaux</h5>
      <ul>
        <li><a href="https://twitter.com/Infotech_MTP" target="_blank" class="twitter-follow-button" data-show-count="true" data-size="large" data-dnt="true">Follow @Infotech_MTP</a></li>
        <li><div class="fb-like" data-href="https://www.facebook.com/Infotech-987515114668210/" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div></li>
        <li><iframe src="https://ghbtns.com/github-btn.html?user=JohanBrunet&type=follow&count=true&size=large" frameborder="0" scrolling="0" width="220px" height="30px"></iframe></li>
      </ul>
    </div>
    <div class="center-align col l3  hide-on-med-and-down">
      <h5 class="white-text">Plan du site</h5>
      <ul>
        <li><a href="/" class="grey-text text-lighten-4">Accueil</a></li>
        <li><a href="/projects" class="grey-text text-lighten-4">Projets</a></li>
        <li><a href="/about" class="grey-text text-lighten-4">A propos</a></li>
      </ul>
    </div>
    </div>
  <div class="footer-copyright">
    © 2016 Copyright Johan Brunet
    <a class="grey-text text-lighten-4 right" href="https://github.com/JohanBrunet/Infotech/blob/master/LICENSE">MIT License</a>
  </div>
  <script>!(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs'));
  </script>
  <script>(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js=d.createElement(s);js.id=id;js.src="//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.6";fjs.parentNode.insertBefore(js, fjs);}(document,'script','facebook-jssdk'));</script>
</footer>
