<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 s12">
        <h5 class="white-text">Réseaux sociaux</h5>
        <ul>
          <li><a href="https://twitter.com/InfotechMTP" target="_blank" class="twitter-follow-button" data-show-count="true" data-size="large" data-dnt="true">Follow @InfotechMTP</a></li>
          <li><div class="fb-like" data-href="https://www.facebook.com/Infotech-987515114668210/" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div></li>
          <li><iframe src="https://ghbtns.com/github-btn.html?user=JohanBrunet&repo=Infotech&type=watch&count=true&v=2" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
              <iframe src="https://ghbtns.com/github-btn.html?user=JohanBrunet&repo=Infotech&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
          </li>
          <li><iframe src="https://ghbtns.com/github-btn.html?user=JohanBrunet&type=follow&count=true&size=large" frameborder="0" scrolling="0" width="220px" height="30px"></iframe></li>
        </ul>
      </div>
      <div class="col l4 s12">
        <h5 class="white-text">Plan du site</h5>
        <ul>
          <li><a href="/" target="_blank" class="grey-text text-lighten-4"</a>Accueil</li>
          <li><a href="/about" target="_blank" class="grey-text text-lighten-4"</a>A propos</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Copyright Johan Brunet
    </div>
  </div>
</footer>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script>(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js=d.createElement(s);js.id=id;js.src="//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.6";fjs.parentNode.insertBefore(js, fjs);}(document,'script','facebook-jssdk'));</script>
