<nav>
  <div class="nav-wrapper row">
    <div class="col s4">
      <a href="#!" class="brand-logo">Logo</a>
    </div>
    <div class="col s8 offset-s4">
      <ul class="right hide-on-med-and-down">
        <li><i class="material-icons col s6">forum</i> Forum </li>
        <li><i class="material-icons col s6">power_settings_new</i> Sign in </li>
      </ul>
    </div>
  </div>
</nav>
