<div class="navbar-fixed">
  <!-- Dropdown Structure -->
  <ul id="projects" class="dropdown-content">
    <li><a class="waves-effect waves-light btn-small" href="/projects">Afficher</a></li>
    <li><a class="waves-effect waves-light btn-small" href="/projects/new">Créer</a></li>
  </ul>
  <nav class="blue-grey darken 1">
    <div class="nav-wrapper row">
      <ul class="left hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn-small" href="/">Home</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn-flat" href="/users">Utilisateurs</a></li>
        <li><a class="dropdown-button waves-effect waves-light btn-flat" href="/projects" data-activates="projects">Projets</a></li>
        <li><a class="waves-effect waves-light btn-small" href="/projects/owned">Mes projets</a></li>
        <li>
          <form class="col s12" method="post" action="/signout">
            <button class="btn waves-effect waves-light col s2 offset-s5" type="submit" name="action">Déconnexion</button>
          </form>
        </li>
      </ul>
      <ul class="side-nav" id="slide-out">
        <li><a class="waves-effect waves-light btn-small" href="/projects">Projets</a></li>
        <li><a class="waves-effect waves-light btn-small" href="/projects/owned">Mes projets</a></li>
        <li>
          <form class="col s12" method="post" action="/signout">
            <button class="btn waves-effect waves-light col s2 offset-s5" type="submit" name="action">Déconnexion</button>
          </form>
        </li>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse right"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>

<!-- Script to initiate side-nav menu when screen is too small -->
<script type="text/javascript">
  // Initialize collapse button
  $(".button-collapse").sideNav({
    menuWidth: 150, // Default is 240
    edge: 'right'
  });
  $(".dropdown-button").dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: true, // Displays dropdown below the button
      alignment: 'left' // Displays dropdown with edge aligned to the left of button
    }
  );
</script>
