<div class="navbar-fixed">
  <!-- Dropdown Structure -->
  <ul id="projects" class="dropdown-content">
    <li><a class="waves-effect waves-light btn-small" href="/projects">Afficher</a></li>
    <li><a class="waves-effect waves-light btn-small" href="/projects/new">Créer</a></li>
    <li><a class="waves-effect waves-light btn-small" href="/projects/owned">Mes projets</a></li>
    <li><a class="waves-effect waves-light btn-small" href="/projects/participations">Participations</a></li>
  </ul>
  <nav class="blue-grey darken 1">
    <div class="nav-wrapper row">
      <ul class="left hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn-flat" href="/">Home</a></li>
      </ul>

      <ul class="right hide-on-med-and-down">
        <li><a class="dropdown-button waves-effect waves-light btn-flat" href="/projects" data-activates="projects">Projets</a></li>
        <li><a class="waves-effect waves-light btn" href="#" id="login">Déconnexion</a></li>
      </ul>
      <ul class="side-nav" id="slide-out">
        <li><a class="waves-effect waves-light btn-small" href="/projects">Projets</a></li>
        <li><a class="waves-effect waves-light btn-small" href="/projects/owned">Mes projets</a></li>
        <li><a class="waves-effect waves-light btn-small" href="/projects/participations">Participations</a></li>
        <li><a class="waves-effect waves-light btn-small" href="#" id="login">Déconnexion</a></li>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse right"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>

<!-- Script to initiate side-nav menu when screen is too small -->
<script type="text/javascript">
  // Initialize collapse button
  $(".button-collapse").sideNav({
    menuWidth: 150, // Default is 240
    edge: 'right'
  });
  $(".dropdown-button").dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: true, // Displays dropdown below the button
      alignment: 'left' // Displays dropdown with edge aligned to the left of button
    }
  );
</script>

<!-- Script to call Auth0 authentication handler -->
<script src="https://cdn.auth0.com/js/lock-9.1.min.js"></script>
<script type="text/javascript">
  var lock = new Auth0Lock('xqW3BC2q2q8nf6VlJlSjauumUNfaxG5X', 'app50173543.auth0.com');
  var login = document.querySelector('a#login');
  login.onclick = function (e) {
    e.preventDefault();
    lock.show(function onLogin(err, profile, id_token) {
      if (err) {
        // There was an error logging the user in
        return alert(err.message);
      }
      // User is logged in
    });
  };
</script>
