<div class="navbar-fixed">
  <!-- Dropdown Structure -->
  <ul id="projects" class="dropdown-content">
    <li><a class="waves-effect waves-light btn-small" href="/projects">Afficher</a></li>
    <li><a class="waves-effect waves-light btn-small" href="/projects/new">Créer</a></li>
  </ul>
  <nav class="blue-grey darken 1">
    <div class="nav-wrapper row">
      <ul class="left hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn-flat" href="/">Home</a></li>
      </ul>
      <a href="/" class="brand-logo center">Infotech</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="dropdown-button waves-effect waves-light btn-flat" href="/projects" data-activates="projects">Projets</a></li>
        <li><button class="waves-effect waves-light btn" onclick="window.signin()">Connexion</button></li>
      </ul>
      <ul class="side-nav" id="slide-out">
        <li><a class="waves-effect waves-light btn-flat" href="/">Home</a></li>
        <li><a class="waves-effect waves-light btn-small" href="/projects">Projets</a></li>
        <li><button class="waves-effect waves-light btn" onclick="window.signin()">Connexion</button></li>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse left"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>

<!-- Script to initiate side-nav menu when screen is too small -->
<script type="text/javascript">
  // Initialize collapse button
  $(".button-collapse").sideNav({
    menuWidth: 150, // Default is 240
    edge: 'left'
  });
  $(".dropdown-button").dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: true, // Displays dropdown below the button
      alignment: 'left' // Displays dropdown with edge aligned to the left of button
    }
  );
</script>

<!-- Script to call Auth0 authentication handler -->
<script src="https://cdn.auth0.com/js/lock-9.1.min.js"></script>
<script type="text/javascript">
  var lock = new Auth0Lock('yUfDGjyKKeONACrFia8kZ1xzHIsdlCmI', 'johanbrunet.eu.auth0.com');
  function signin() {
    lock.show({
      callbackURL: 'https://infotech-polytech.herokuapp.com/callback',
      responseType: 'code',
      authParams: {
        scope: 'openid email'  // Learn about scopes: https://auth0.com/docs/scopes
      }
    });
  }
</script>
