<div class="navbar-fixed">
  <nav class="blue-grey darken 1">
    <div class="nav-wrapper row">
      <ul class="left hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn-small" href="/">Home</a></li>
      </ul>
      <a href="/" class="brand-logo center">Infotech</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn-small" href="/projects">Projets</a></li>
        <li><a class="waves-effect waves-light btn-small" href="#" id="login">Connexion</a></li>
      </ul>
      <ul class="side-nav" id="slide-out">
        <li><a class="waves-effect waves-light btn-small" href="/">Home</a></li>
        <li><a class="waves-effect waves-light btn-small" href="/projects">Projets</a></li>
        <li><a class="waves-effect waves-light btn-small" href="#" id="login">Connexion</a></li>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse right"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>

<!-- Script to initiate side-nav menu when screen is too small -->
<script type="text/javascript">
  // Initialize collapse button
  $(".button-collapse").sideNav({
    menuWidth: 150, // Default is 240
    edge: 'right'
  });
</script>

<!-- Script to call Auth0 authentication handler -->
<script src="https://cdn.auth0.com/js/lock-9.1.min.js"></script>
<script type="text/javascript">
  var lock = new Auth0Lock('xqW3BC2q2q8nf6VlJlSjauumUNfaxG5X', 'app50173543.auth0.com');
  var login = document.querySelector('a#login');
  login.onclick = function (e) {
    e.preventDefault();
    lock.show(function onLogin(err, profile, id_token) {
      if (err) {
        // There was an error logging the user in
        return alert(err.message);
      }
      // User is logged in
    });
  };
</script>
