<!DOCTYPE html>
<html>
  <head>
    <% include partials/header %>
  </head>

  <body>
    <header>
      <% include partials/navbar %>
    </header>
    <main class="container">
      <%- body %>
    </main>
    <% include partials/footer %>
  </body>
</html>
