<% layout('layout') -%>
<div class="row">
   <form class="col s12" method="post" action="/projects/new">
     <div class="container">
       <div class="row">
         <div class="input-field col l12">
           <i class="material-icons prefix">perm_identity</i>
           <input name="userFirstName" type="text" class="validate" required="required">
           <label for="icon_prefix">Name</label>
         </div>
         <div class="input-field col l12">
           <i class="material-icons prefix">description</i>
           <input name="userLastName" type="text" class="validate" required="required">
           <label for="icon_prefix">Description</label>
         </div>
         <div class="input-field col l12">
           <i class="material-icons prefix">perm_identity</i>
           <input id="max" name="maxHelpers" type="number" min="1" class="validate" required>
           <label for="max">Participants maximum (min1)</label>
         </div>
         <div class="input-field col l12">
           <i class="material-icons prefix">schedule</i>
           <input name="start" type="text" id="datepicker1"class="validate" required="required">
           <label for="start">Date de début</label>
         </div>
         <div class="input-field col l12">
           <i class="material-icons prefix">av_timer</i>
           <input name="end" type="text" id="datepicker2" class="validate" required="required">
           <label for="end">Date de fin</label>
         </div>
         <div class="input-field col l12">
           <i class="material-icons prefix">verified_user</i>
           <input list="ranks" type="text" id="ranks_choose" required="required">
           <datalist id="ranks">
             <% ranks.forEach(function(r) { %>
               <option value="<%= r.name %>">
             <% }); %>
           </datalist>
           <label for="ranks_choose">Rang minimal requis</label>
         </div>
         <div class="input-field col l12">
           <button class="btn waves-effect waves-light col s2 offset-s5" type="submit" name="action">Créer
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </div>
   </form>
 </div>

 <script type="text/javascript">
  $(function() {
    $("#datepicker1").datepicker({
      closeText: 'Fermer',
      prevText: 'Précédent',
      nextText: 'Suivant',
      monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
      monthNamesShort: ['Janv.', 'Fev.', 'Mars', 'Avr', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
      dayNames: ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche'],
      dayNamesShort: ['Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.', 'Dim.'],
      dayNamesMin: ['L', 'M', 'M', 'J', 'V', 'S', 'D'],
      weekHeader: 'Sem.',
      dateFormat: 'yy-mm-dd'
    });
    $( "#datepicker2" ).datepicker({
      closeText: 'Fermer',
      prevText: 'Précédent',
      nextText: 'Suivant',
      monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
      monthNamesShort: ['Janv.', 'Fev.', 'Mars', 'Avr', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
      dayNames: ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche'],
      dayNamesShort: ['Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.', 'Dim.'],
      dayNamesMin: ['L', 'M', 'M', 'J', 'V', 'S', 'D'],
      weekHeader: 'Sem.',
      dateFormat: 'yy-mm-dd'
    });
  });
  </script>
