<% layout('layout') -%>
<main class="container">
  <h1>Erreur</h1>
  <% if (error != null) { %>
    <h2>Status</h2>
      <p><%= status %></p>
    <h3>Stack</h3>
      <p><%= error.stack %></p>
  <% } %>
</main>
