<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <header>
      <% include ../partials/navbar.ejs %>
    </header>
    <main class="container">
      <h1> Vous êtes sur le forum <% topic %></h1>
      <a href="/forum/java"> Java </a>
    </main>
    <% include ../partials/footer.ejs %>
  </body>
</html>
