<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <header>
      <% include ../partials/navbar.ejs %>
    </header>
    <main class="container"></main>
    <footer class="page-footer">
      <% include ../partials/footer.ejs %>
    </footer>
  </body>
</html>
