<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <div class="header"><% include ../partials/navbar.ejs %></div>
    <div class="main"></div>
    <div class="footer"><% include ../partials/footer.ejs %></div>
  </body>
</html>
