<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../partials/header %>
  </head>

  <body>
    <main>
      <%- body %>
    </main>
    <% include ../partials/footer %>
  </body>
</html>
