<% layout('layout') -%>
<h1> Projects </h1>
<h2>Database Results</h2>
<ul>
  <% projects.forEach(function(p) { %>
    <li><a href='/projects/<%= p.id %>'><%= p.id %> - <%= p.name %><a></li>
  <% }); %>
</ul>
