<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <header>
      <% include ../partials/navbar.ejs %>
    </header>
    <main class="container">
      <div class="row">
         <form class="col s12" method="post" action="/signup">
           <div class="row">
             <div class="input-field col s6">
               <i class="material-icons prefix">account_circle</i>
               <input name="user[firstName]" type="text" class="validate">
               <label for="icon_prefix">First Name</label>
             </div>
             <div class="input-field col s6">
               <i class="material-icons prefix">account_circle</i>
               <input name="user[lastName]" type="text" class="validate">
               <label for="icon_prefix">Last Name</label>
             </div>
             <div class="input-field col s6">
               <i class="material-icons prefix">email</i>
               <input name="user[mail]" type="text" class="validate">
               <label for="icon_prefix">Mail</label>
             </div>
             <div class="input-field col s6">
               <i class="material-icons prefix">phone</i>
               <input name="user[phone]" type="tel" class="validate">
               <label for="icon_telephone">Telephone</label>
             </div>
           </div>
           <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
         </form>
       </div>
    </main>
    <footer class="page-footer">
      <% include ../partials/footer.ejs %>
    </footer>
  </body>
</html>
