<% layout('layout') -%>
<% include ../partials/navbar %>
<div class="row">
   <form class="col s12" method="post" action="/signup">
     <div class="row">
       <div class="input-field col s6">
         <i class="material-icons prefix">perm_identity</i>
         <input name="userFirstName" type="text" class="validate" required="required">
         <label for="icon_prefix">First Name</label>
       </div>
       <div class="input-field col s6">
         <i class="material-icons prefix">perm_identity</i>
         <input name="userLastName" type="text" class="validate" required="required">
         <label for="icon_prefix">Last Name</label>
       </div>
       <div class="input-field col s6">
         <i class="material-icons prefix">email</i>
         <input name="userMail" type="email" class="validate" required="required">
         <label for="icon_prefix">Mail</label>
       </div>
       <div class="input-field col s6">
         <i class="material-icons prefix">phone</i>
         <input name="userPhone" type="tel" class="validate" required="required">
         <label for="icon_telephone">Telephone</label>
       </div>
     </div>
     <div class="input-field col s12">
       <i class="material-icons prefix">info</i>
       <select name="userSection" required="required">
         <option value="" disabled selected>Choisissez votre section</option>
         <% section.forEach(function(s) { %>
           <option value="<%= s.acronym %>"><%= s.acronym %></option>
         <% }) %>
       </select>
     <label>Section</label>
     </div>
     <div class="input-field col s6">
       <i class="material-icons prefix">perm_identity</i>
       <input name="userPseudo" type="text" class="validate" required="required">
       <label for="icon_prefix">Pseudo</label>
     </div>
     <div class="input-field col s6">
       <i class="material-icons prefix">lock</i>
       <input name="userPwd" type="password" class="validate" required="required">
       <label for="icon_prefix">Mot de passe</label>
     </div>
     <button class="btn waves-effect waves-light col s2 offset-s5" type="submit" name="action">Submit
       <i class="material-icons right">send</i>
     </button>
   </div>
  </form>
</div>

 <script type="text/javascript">
   $('select').material_select();
 </script>
